@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'April16th-Promise';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
